# Pandas

## DataFrame
表形式データのクラス・オブジェクト

<table>
    <tr style='border-bottom:1px black solid'>
        <th></th>
        <th>名前</th>
        <th>年齢</th>
        <th>住所</th>
        <th>血液型</th>
    </tr>
    <tr>
        <td>0</td>
        <td>佐藤</td>
        <td>21</td>
        <td>東京都</td>
        <td>A</td>
    </tr>
    <tr>
        <td>1</td>
        <td>斎藤</td>
        <td>30</td>
        <td>岐阜県</td>
        <td></td>
    </tr>
    <tr>
        <td>2</td>
        <td>鈴木</td>
        <td>18</td>
        <td>埼玉県</td>
        <td>O</td>
    </tr>
    <tr>
        <td>3</td>
        <td>田中</td>
        <td>26</td>
        <td>千葉県</td>
        <td>AB</td>
    </tr>
</table>


## Series
1次元データのクラス・オブジェクト

<table>
    <tr>
        <td>0</td>
        <td>佐藤</td>
    </tr>
    <tr>
        <td>1</td>
        <td>斎藤</td>
    </tr>
    <tr>
        <td>2</td>
        <td>鈴木</td>
    </tr>
    <tr>
        <td>3</td>
        <td>田中</td>
    </tr>
</table>

インデックスの値は，一意な値である必要はない．

In [1]:
import pandas as pd
import numpy as np

## DataFrameの作成

In [2]:
pd.DataFrame(
    {
        '名前':   [  '佐藤',   '斎藤',   '鈴木'],
        '年齢':   [      21,       30,       18],
        '住所':   ['東京都', '岐阜県', '埼玉県'],
        '血液型': [     'A',   np.nan,      'O'],
    }
)

# indexを指定する場合
pd.DataFrame(
    {
        '名前':   [  '佐藤',   '斎藤',   '鈴木'],
        '年齢':   [      21,       30,       18],
        '住所':   ['東京都', '岐阜県', '埼玉県'],
        '血液型': [     'A',   np.nan,      'O'],
    },index=      [   'i-1',    'i-2',    'i-3']
)

     名前  年齢   住所  血液型
i-1  佐藤  21  東京都    A
i-2  斎藤  30  岐阜県  NaN
i-3  鈴木  18  埼玉県    O

## Seriesの作成

In [3]:
pd.Series(
    ['佐藤', '斎藤', '鈴木']
)

# indexを指定する場合
pd.Series(
    ['佐藤', '斎藤', '鈴木'],
    index=['i-1', 'i-2', 'i-3']
)

i-1    佐藤
i-2    斎藤
i-3    鈴木
dtype: object

## ファイル読み込み
以下のファイルを読み込むことができる
- CSV
- Excel
- HTML
- json
- xml
- pickle
など

In [4]:
# 読み込み時にindex扱いする列を指定することも可
poke_DF = pd.read_csv('../dataset/pokemon_data.csv', index_col='ぜんこくNo.')
display(poke_DF)

,名前,フォルム,英語名,タイプ1,タイプ2,HP,攻撃,防御,特攻,特防,素早さ,特性1,特性2,夢特性
ぜんこくNo.,,,,,,,,,,,,,,
1,フシギダネ,NaN,Bulbasaur,くさ,どく,45,49,49,65,65,45,しんりょく,NaN,*ようりょくそ
2,フシギソウ,NaN,Ivysaur,くさ,どく,60,62,63,80,80,60,しんりょく,NaN,*ようりょくそ
3,フシギバナ,NaN,Venusaur,くさ,どく,80,82,83,100,100,80,しんりょく,NaN,*ようりょくそ
4,ヒトカゲ,NaN,Charmander,ほのお,NaN,39,52,43,60,50,65,もうか,NaN,*サンパワー
5,リザード,NaN,Charmeleon,ほのお,NaN,58,64,58,80,65,80,もうか,NaN,*サンパワー
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,ブリザポス,NaN,Glastrier,こおり,NaN,100,145,130,65,110,30,しろのいななき,NaN,NaN
897,レイスポス,NaN,Spectrier,ゴースト,NaN,100,65,60,145,80,130,くろのいななき,NaN,NaN
898,バドレックス,通常,Calyrex,エスパー,くさ,100,80,80,80,80,80,きんちょうかん,NaN,NaN
898,バドレックス,はくばじょうのすがた,Calyrex,エスパー,こおり,100,165,150,85,130,50,じんばいったい,NaN,NaN
898,バドレックス,こくばじょうのすがた,Calyrex,エスパー,ゴースト,100,85,80,165,100,150,じんばいったい,NaN,NaN

## DataFrameから行・列を抽出

In [5]:
display(poke_DF.loc[:, ['名前']])
display(poke_DF.loc[[1], :])
display(poke_DF.loc[1 : 3, '名前' : '英語名'])

             名前
ぜんこくNo.
1         フシギダネ
2         フシギソウ
3         フシギバナ
4          ヒトカゲ
5          リザード
...         ...
896       ブリザポス
897       レイスポス
898      バドレックス
898      バドレックス
898      バドレックス

[987 rows x 1 columns]

,名前,フォルム,英語名,タイプ1,タイプ2,HP,攻撃,防御,特攻,特防,素早さ,特性1,特性2,夢特性
ぜんこくNo.,,,,,,,,,,,,,,
1,フシギダネ,NaN,Bulbasaur,くさ,どく,45,49,49,65,65,45,しんりょく,NaN,*ようりょくそ

            名前 フォルム        英語名
ぜんこくNo.
1        フシギダネ  NaN  Bulbasaur
2        フシギソウ  NaN    Ivysaur
3        フシギバナ  NaN   Venusaur

In [6]:
# Series型で抽出する場合
display(poke_DF['名前'])

# DataFrame型で抽出する場合
display(poke_DF[['名前']])

ぜんこくNo.
1       フシギダネ
2       フシギソウ
3       フシギバナ
4        ヒトカゲ
5        リザード
        ...
896     ブリザポス
897     レイスポス
898    バドレックス
898    バドレックス
898    バドレックス
Name: 名前, Length: 987, dtype: object

             名前
ぜんこくNo.
1         フシギダネ
2         フシギソウ
3         フシギバナ
4          ヒトカゲ
5          リザード
...         ...
896       ブリザポス
897       レイスポス
898      バドレックス
898      バドレックス
898      バドレックス

[987 rows x 1 columns]

## 抽出条件で操作

In [7]:
# ブールインデックス
poke_DF['タイプ1']=='くさ'

# ブールインデックスによる抽出
poke_DF[poke_DF['タイプ1']=='くさ']

poke_DF[(poke_DF['タイプ1']=='くさ') & (poke_DF['タイプ2']=='どく')]

,名前,フォルム,英語名,タイプ1,タイプ2,HP,攻撃,防御,特攻,特防,素早さ,特性1,特性2,夢特性
ぜんこくNo.,,,,,,,,,,,,,,
1,フシギダネ,NaN,Bulbasaur,くさ,どく,45,49,49,65,65,45,しんりょく,NaN,*ようりょくそ
2,フシギソウ,NaN,Ivysaur,くさ,どく,60,62,63,80,80,60,しんりょく,NaN,*ようりょくそ
3,フシギバナ,NaN,Venusaur,くさ,どく,80,82,83,100,100,80,しんりょく,NaN,*ようりょくそ
43,ナゾノクサ,NaN,Oddish,くさ,どく,45,50,55,75,65,30,ようりょくそ,NaN,*にげあし
44,クサイハナ,NaN,Gloom,くさ,どく,60,65,70,85,75,40,ようりょくそ,NaN,*あくしゅう
45,ラフレシア,NaN,Vileplume,くさ,どく,75,80,85,110,90,50,ようりょくそ,NaN,*ほうし
69,マダツボミ,NaN,Bellsprout,くさ,どく,50,75,35,70,30,40,ようりょくそ,NaN,*くいしんぼう
70,ウツドン,NaN,Weepinbell,くさ,どく,65,90,50,85,45,55,ようりょくそ,NaN,*くいしんぼう
71,ウツボット,NaN,Victreebel,くさ,どく,80,105,65,100,70,70,ようりょくそ,NaN,*くいしんぼう
315,ロゼリア,NaN,Roselia,くさ,どく,50,60,45,100,80,65,しぜんかいふく,どくのトゲ,*リーフガード
406,スボミー,NaN,Budew,くさ,どく,40,30,35,50,70,55,しぜんかいふく,どくのトゲ,*リーフガード
407,ロズレイド,NaN,Roserade,くさ,どく,60,70,65,125,105,90,しぜんかいふく,どくのトゲ,*テクニシャン
590,タマゲタケ,NaN,Foongus,くさ,どく,69,55,45,55,55,15,ほうし,NaN,*さいせいりょく
591,モロバレル,NaN,Amoonguss,くさ,どく,114,85,70,85,80,30,ほうし,NaN,*さいせいりょく

## 統計量を調べる
- 平均
- 最大値
- 最小値
- 合計
- 標準偏差
- 分散
- 中央値
- 歪度
- 尖度

In [8]:
max_HP = poke_DF['HP'].max()
poke_DF[poke_DF['HP'] == max_HP]

,名前,フォルム,英語名,タイプ1,タイプ2,HP,攻撃,防御,特攻,特防,素早さ,特性1,特性2,夢特性
ぜんこくNo.,,,,,,,,,,,,,,
242,ハピナス,NaN,Blissey,ノーマル,NaN,255,10,10,75,135,55,しぜんかいふく,てんのめぐみ,*いやしのこころ
890,ムゲンダイナ,ムゲンダイマックス,Eternatus,どく,ドラゴン,255,115,250,125,250,130,プレッシャー,NaN,NaN

## 列単位で演算・加工

In [9]:
poke_DF['合計種族値'] = poke_DF['HP'] + poke_DF['攻撃'] + poke_DF['防御'] + poke_DF['特攻'] + poke_DF['特防'] + poke_DF['素早さ']
display(poke_DF)

,名前,フォルム,英語名,タイプ1,タイプ2,HP,攻撃,防御,特攻,特防,素早さ,特性1,特性2,夢特性,合計種族値
ぜんこくNo.,,,,,,,,,,,,,,,
1,フシギダネ,NaN,Bulbasaur,くさ,どく,45,49,49,65,65,45,しんりょく,NaN,*ようりょくそ,318
2,フシギソウ,NaN,Ivysaur,くさ,どく,60,62,63,80,80,60,しんりょく,NaN,*ようりょくそ,405
3,フシギバナ,NaN,Venusaur,くさ,どく,80,82,83,100,100,80,しんりょく,NaN,*ようりょくそ,525
4,ヒトカゲ,NaN,Charmander,ほのお,NaN,39,52,43,60,50,65,もうか,NaN,*サンパワー,309
5,リザード,NaN,Charmeleon,ほのお,NaN,58,64,58,80,65,80,もうか,NaN,*サンパワー,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896,ブリザポス,NaN,Glastrier,こおり,NaN,100,145,130,65,110,30,しろのいななき,NaN,NaN,580
897,レイスポス,NaN,Spectrier,ゴースト,NaN,100,65,60,145,80,130,くろのいななき,NaN,NaN,580
898,バドレックス,通常,Calyrex,エスパー,くさ,100,80,80,80,80,80,きんちょうかん,NaN,NaN,500
898,バドレックス,はくばじょうのすがた,Calyrex,エスパー,こおり,100,165,150,85,130,50,じんばいったい,NaN,NaN,680
898,バドレックス,こくばじょうのすがた,Calyrex,エスパー,ゴースト,100,85,80,165,100,150,じんばいったい,NaN,NaN,680

In [10]:
poke_DF.groupby('名前').mean(numeric_only=True)

           HP     攻撃     防御     特攻    特防    素早さ  合計種族値
名前
アイアント    58.0  109.0  112.0   48.0  48.0  109.0  484.0
アオガラス    68.0   67.0   55.0   43.0  55.0   77.0  365.0
アギルダー    80.0   70.0   40.0  100.0  60.0  145.0  495.0
アクジキング  223.0  101.0   53.0   97.0  53.0   43.0  570.0
アグノム     75.0  125.0   70.0  125.0  70.0  115.0  580.0
...       ...    ...    ...    ...   ...    ...    ...
ワニノコ     50.0   65.0   64.0   44.0  48.0   43.0  314.0
ワルビアル    95.0  117.0   80.0   65.0  70.0   92.0  519.0
ワルビル     60.0   82.0   45.0   45.0  45.0   74.0  351.0
ワンパチ     59.0   45.0   50.0   40.0  50.0   26.0  270.0
ワンリキー    70.0   80.0   50.0   35.0  35.0   35.0  305.0

[897 rows x 7 columns]